@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --primary: #0077b6;    
    --primary-hover: #028ed8;
    --secondary: #0F0101;
    --black: #000000;
    --white: #fff;
    --green-color: #76B51B;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: .5rem;
}

section {
    padding: 5rem 7%;
}

.heading {
    font-size: 3rem;
    color: var(--black);
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--primary);
    border-radius: .5rem;
    color: var(--white);
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover {
    background: var(--primary-hover);
    transform: translate(0,-4px);
}

/* header */
.header {
    position: none;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--black);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    height: 85px;
    width: 100%;
}

.header .logo {
    display: block;
    width: 150px;
    height: 100px;
}

.header .logo img {
    width: 95%;
}

.header .navbar a {
    font-size: 1.8rem;
    color: var(--white);
    margin: 0 1rem;
}

.header .navbar a:hover {
    color: var(--primary);
}

.header .navbar .btn {
    margin-top: 0;
    color: var(--white);
}

.header .navbar .btn:hover {
    color: var(--white);
    background-color: var(--primary-hover);
}

#menu-btn {
    display: none;
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--white);
}
/* end */

/* home */
.home{
    padding: 0;
}

.title h2{
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 30px;
    letter-spacing: 0.2em;
    padding: 4rem 0;
    text-align: center;
}

.home .slide{
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}
/* end */

/* about */
.para{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 45px;
    letter-spacing: 0.1em;
    padding: 0 10rem;
    text-align: justify;
    color: var(--secondary);
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5rem;
}

.about .row .image{
    flex: 1 1 30rem;
}

.about .row .image img{
    width: 100%;    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about .row .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin: 5rem;
}
  
.about .row .box {
    width: 150px;
    height: 150px;
    background-color: var(--primary);
    color: var(--white);
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .row .box:hover{
    transform: scale(1.1);
}

.msg{
	margin:0;
	padding:0;
	height:55px;
	justify-content:right;
	align-items:right;
	display:flex;
}

.btnsm{
    display: flex;
	font-family: 'Open Sans';
    font-style: normal;
	font-weight:bold;
    font-size: 25px;
    background:var(--green-color);
	width:300px;
	padding:5px;
    border-radius: 5px;
    justify-content:center;
    align-items:center;
	text-transform:uppercase;
	color:var(--black);
	cursor:pointer;
}

.btnsm:hover{
	background:#59981A;
	color:var(--black);
}
/* end */

/* footer */
.footer {
    background: var(--secondary);
    padding-top: 1rem;
    color: var(--white);
    text-align: center;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.footer .box h3 {
    font-size: 1.8rem;
    padding-bottom: 1rem;
}

.footer .box img {
    width: 80%;
    margin: auto;
}

.footer .box a {
    font-size: 1.6rem;
    display: block;
    color: var(--white);
    padding: 0.5rem 0;
}

.footer .box p {
    color: var(--white);
    font-size: 1.1rem;
    margin: 0.5rem 0;
}

.footer .box a i {
    color: var(--white);
    padding-right: .5rem;
}

.footer .box a:hover {
    color: var(--primary);
}

.footer .share a {
    color: var(--white);
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    border-radius: 50%;
    border: .1rem solid var(--white);
    margin: .5rem;
    display: inline-block;
}

.footer .share a:hover {
    color: var(--primary);
}

.footer .credit {
    background: var(--secondary);
    width: 100%;
    font-size: 1.2rem;
    padding: 1rem;
    margin-top: 1rem;
}

.footer .credit span {
    color: var(--white);
}
/* end */

/* media queries */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem 3rem;
    }
}

@media (max-width: 768px){

    .header .navbar {
        position: fixed;
        top: 85px;
        right: -100%;
        background: var(--primary-hover);
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 85px);
        box-shadow: var(--box-shadow);
        border-radius: 0;
        transition: 0.3s;
        z-index: 999;
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        display: block;
        font-size: 2rem;
        margin: 2rem 0;
        text-align: center;
    }

    #menu-btn {
        display: inline-block;
    }
}

@media (max-width: 450px){

    html{
        font-size: 50%;
    }

    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about .row .box-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        font-size: 15px;
        text-align: center;
        margin: 3rem;
        margin-left: 5rem;
    } 

    .btnsm{
        width:400px;
    }
}
/* end */
